"*":
  core:
    disabledPackages: [
      "exception-reporting"
    ]
    packagesWithKeymapsDisabled: [
      "lisp-paredit"
    ]
    telemetryConsent: "limited"
  editor:
    softWrap: true
  "lisp-paredit": {}
  "markdown-preview": {}
  welcome:
    showOnStartup: false
".clojure.source":
  "bracket-matcher":
    autocompleteCharacters: [
      "()"
      "[]"
      "{}"
      "\"\""
      "‘’"
      "«»"
      "‹›"
    ]
  editor:
    autoIndent: false
