"*":
  core:
    telemetryConsent: "limited"
  editor:
    softWrap: true
  "lisp-paredit": {}
  "markdown-preview": {}
  welcome:
    showOnStartup: false
".clojure.source":
  "bracket-matcher":
    autocompleteCharacters: [
      "()"
      "[]"
      "{}"
      "\"\""
      "‘’"
      "«»"
      "‹›"
    ]
