## General
## =======
'atom-workspace atom-text-editor':
  # Useful for outlines
  'alt-k': 'editor:move-line-up'
  'alt-j': 'editor:move-line-down'
  # Vim-like history
  'ctrl-i': 'cursor-history:next'
  'ctrl-o': 'cursor-history:prev'

# Unsure if this is the right selector for general non-editor commands
'atom-workspace atom-pane, atom-workspace atom-text-editor:not(.mini)':
  # Pane focus + movement
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-j': 'window:focus-pane-below'
  'ctrl-k': 'window:focus-pane-above'
  'ctrl-l': 'window:focus-pane-on-right'
  # prefix: p(ane) or p(ackage)
  'ctrl-, p c': 'choose-pane:start'
  'ctrl-, p h': 'pane:split-left-and-move-active-item'
  'ctrl-, p j': 'window:move-active-item-to-pane-on-left'
  'ctrl-, p k': 'window:move-active-item-to-pane-on-right'
  'ctrl-, p l': 'pane:split-right-and-move-active-item'
  # package
  'ctrl-, p i': 'me:install-packages-and-themes-with-focus'
  'ctrl-, p s': 'me:view-installed-packages-with-focus'
  'ctrl-, p a': 'package-switch:start-packages'
  'ctrl-, p d': 'package-switch:stop-packages'
  'ctrl-, p o': 'open-package:toggle'

  # Pane splitting
  'ctrl-|': 'pane:split-right-and-copy-active-item'
  'ctrl--': 'pane:split-down-and-copy-active-item'

  # Open specific files
  'ctrl-, k': 'application:open-your-keymap'
  'ctrl-, c': 'application:open-your-config'
  'ctrl-, s': 'application:open-your-init-script'

  # Open misc things
  # Like :e
  'ctrl-, e': 'advanced-open-file:toggle'
  # prefix: o(pen)
  # Project manipulation
  'ctrl-, o a': 'project-folder:add'
  'ctrl-, o r': 'project-folder:remove'

  # Git actions
  'alt-g l': 'git-plus:log-current-file'
  'alt-g L': 'git-plus:log'
  # Using git-plus b/c I can --rebase
  'alt-g P': 'git-plus:pull'
  'alt-g p': 'git-puns:github-push-with-joke'
  'alt-g d': 'git-plus:diff-all'
  'alt-g C': 'git-plus:commit-all'
  'alt-g a': 'git-plus:commit-amend'
  'alt-g b': 'git-blame:toggle'
  # prefix: s(tash)
  'alt-g s l': 'git-plus:manage-stashes'
  'alt-g s p': 'git-plus:stash-pop'
  'alt-g s s': 'git-plus:stash-save'
  'alt-g s m': 'git-plus:stash-save-message'
  'alt-g s a': 'git-plus:stash-apply'
  'ctrl-, q': 'core:cancel'

  # Misc
  'ctrl-, r': 'window:reload'

## Command Palette
## =================
'.command-palette':
  'cmd-c': 'me:copy-command'

## Github
## ======
'.github-CommitView-editor atom-text-editor:not([mini])':
  'ctrl-k': 'core:focus-previous'

'.github-StagingView':
  'ctrl-j': 'core:focus-next'
  'ctrl-k': 'core:focus-previous'

## Normal-mode enhancements
## ========================
'atom-text-editor.vim-mode-plus.normal-mode':
  # Use bookmark commands under mark keycombo
  'm l': 'bookmarks:view-all'
  'm t': 'bookmarks:toggle-bookmark'
  'm n': 'bookmarks:jump-to-next-bookmark'
  'm p': 'bookmarks:jump-to-previous-bookmark'


## Clojure + Lisp
## ==============
# Most of the keybindings here take into account vim-mode.
# If you don't use vim you can just drop the vim-mode selectors
# e.g. atom-text-editor.vim-mode-plus.normal-mode -> atom-text-editor
#
'atom-text-editor.vim-mode-plus.normal-mode[data-grammar="source clojure"]':
  'g f':          'chlorine:go-to-var-definition'
  'ctrl-d':       'chlorine:doc-for-var'
  'space c':      'chlorine:connect-clojure-socket-repl'
  'space C':      'chlorine:clear-console'
  'shift-enter':  'chlorine:evaluate-block'
  'ctrl-enter':   'chlorine:evaluate-top-block'
  'space space':  'inline-results:clear-all'
  'space x':      'chlorine:run-tests-in-ns'
  'space t':      'chlorine:run-test-for-var'

'atom-text-editor.vim-mode-plus.visual-mode[data-grammar="source clojure"]':
  'alt-enter':    'chlorine:evaluate-selection'

'atom-text-editor.vim-mode-plus.insert-mode[data-grammar="source clojure"]':
  'shift-enter': 'chlorine:evaluate-block '
  'ctrl-enter':  'chlorine:evaluate-top-block'
  'enter':       'lisp-paredit:newline'
  # Can't just use 'tab' b/c it overrides snippets
  'ctrl-, tab':  'lisp-paredit:indent'

# Normal-mode important since w/o it 'space' acts as leader key in insert mode
# and then requires 2 spaces to create a space
'atom-text-editor.vim-mode-plus.normal-mode[data-grammar~="clojure"], atom-text-editor.vim-mode-plus.normal-mode[data-grammar~="lisp"], atom-text-editor.vim-mode-plus.normal-mode[data-grammar~="newlisp"], atom-text-editor.vim-mode-plus.normal-mode[data-grammar~="racket"], atom-text-editor.vim-mode-plus.normal-mode[data-grammar~="scheme"]':
  'space ,': 'lisp-paredit:barf-forwards'
  'space .': 'lisp-paredit:slurp-forwards'
  'space <': 'lisp-paredit:slurp-backwards'
  'space >': 'lisp-paredit:barf-backwards'
  'space |': 'lisp-paredit:split'
  'space s': 'lisp-paredit:splice'
  'space (': 'lisp-paredit:wrap-around-parens'
  'space {': 'lisp-paredit:wrap-around-curly'
  'space j': 'lisp-paredit:down-sexp'
  'space k': 'lisp-paredit:up-sexp'
  'space l': 'lisp-paredit:forward-sexp'
  'space h': 'lisp-paredit:backward-sexp'
  # Needed to start selection
  'space /': 'lisp-paredit:expand-selection'
  # Remaps simulate autoindent which was turned off due to bugginess
  'o':       'keystroke o ctrl-, tab'
  'O':       'keystroke O ctrl-, tab'

'atom-text-editor.vim-mode-plus.visual-mode[data-grammar~="clojure"]':
  'space /': 'lisp-paredit:expand-selection'
  'tab':     'lisp-paredit:indent'
